{% extends "BASE.HTML" %}
{% block content %}
        <div class="right_row">

            <div class="row border-radius">
                <center><div class="settings shadow">
                    <div class="settings_title">
                        <h3>Personal Information</h3>
                    </div>
                    <div class="settings_content">
                        <form   method=POST>{% csrf_token %}
                            <p style="color: crimson;">{{error}}</p>
                            <div class="pi-input pi-input-lgg">
                                <span> password vieja</span>
                                <input type="password" name="oldpassword" value="SocialNetwork" />
                            </div>
                      
                            <div class="pi-input pi-input-lg">
                                <span>New Pasword</span>
                                <input type="password" name="password1" placeholder="New password here.." />
                            </div>
                       
                            <div class="pi-input pi-input-lg">
                                <span>Confirm New Pasword</span>
                                <input type="password" name="password2" placeholder="New password here.." />
                            </div>
                            <button>Change Password Now!</button>
                        </form>
                    </div>
                </div></center>
            </div>
        </div>
        <div class="suggestions_row">
            <div class="row shadow">
                <div class="row_title">
                    <span>Profile Settings</span>
                </div>
                <div class="menusetting_contain">
                    <ul>
                        <li>
                            <a href="{% url 'inicio_app:perfil-about' user.username %}" id="settings-select">Personal Information</a>
                        </li>
                        <li>
                            <a href="{% url 'inicio_app:cambiar-contraseña' %} ">Change Password</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
  
  
{% endblock content %}


